
.vs/S3Download/v15/Server/sqlite3/db.lock
.vs/S3Download/v15/Server/sqlite3/storage.ide
.vs/S3Download/v15/Server/sqlite3/storage.ide-wal
packages/AWSSDK.Core.3.3.29.12/.signature.p7s
packages/AWSSDK.Core.3.3.29.12/lib/uap/AWSSDK.Core.XML
.vs/S3Download/v15/Server/sqlite3/storage.ide-shm
packages/AWSSDK.Core.3.3.29.12/AWSSDK.Core.3.3.29.12.nupkg
packages/AWSSDK.Core.3.3.29.12/lib/MonoAndroid10/AWSSDK.Core.XML
packages/AWSSDK.Core.3.3.29.12/lib/MonoTouch10/AWSSDK.Core.XML
packages/AWSSDK.Core.3.3.29.12/lib/net35/AWSSDK.Core.xml
packages/AWSSDK.Core.3.3.29.12/lib/net45/AWSSDK.Core.xml
packages/AWSSDK.Core.3.3.29.12/lib/netstandard1.3/AWSSDK.Core.xml
packages/AWSSDK.Core.3.3.29.12/lib/portable-net45+win8+wpa81+wp8/AWSSDK.Core.XML
packages/AWSSDK.Core.3.3.29.12/lib/win8/AWSSDK.Core.XML
packages/AWSSDK.Core.3.3.29.12/lib/wp8/AWSSDK.Core.XML
packages/AWSSDK.Core.3.3.29.12/lib/wpa81/AWSSDK.Core.XML
packages/AWSSDK.Core.3.3.29.12/lib/Xamarin.iOS10/AWSSDK.Core.XML
packages/AWSSDK.Core.3.3.29.12/lib/Xamarin.Mac20/AWSSDK.Core.XML
packages/AWSSDK.Core.3.3.29.12/tools/account-management.ps1
packages/AWSSDK.S3.3.3.29/.signature.p7s
packages/AWSSDK.S3.3.3.29/AWSSDK.S3.3.3.29.nupkg
packages/AWSSDK.S3.3.3.29/lib/MonoAndroid10/AWSSDK.S3.XML
packages/AWSSDK.S3.3.3.29/lib/MonoTouch10/AWSSDK.S3.XML
packages/AWSSDK.S3.3.3.29/lib/net35/AWSSDK.S3.xml
packages/AWSSDK.S3.3.3.29/lib/net45/AWSSDK.S3.xml
packages/AWSSDK.S3.3.3.29/lib/netstandard1.3/AWSSDK.S3.xml
packages/AWSSDK.S3.3.3.29/lib/portable-net45+win8+wpa81+wp8/AWSSDK.S3.XML
packages/AWSSDK.S3.3.3.29/lib/uap/AWSSDK.S3.XML
packages/AWSSDK.S3.3.3.29/lib/Xamarin.iOS10/AWSSDK.S3.XML
packages/AWSSDK.S3.3.3.29/tools/install.ps1
packages/AWSSDK.S3.3.3.29/tools/uninstall.ps1
S3Download/bin/Debug/AWSSDK.Core.xml
S3Download/bin/Debug/AWSSDK.S3.xml
S3Download/bin/Debug/S3Download.exe.config
S3Download/obj/Debug/S3Download.csproj.CopyComplete
S3Download/obj/Debug/S3Download.csproj.FileListAbsolute.txt
S3Download/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
S3Download/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
S3Download/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
